{% extends "BlogApp/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}

    <img src="https://i.pinimg.com/originals/da/33/6d/da336dcb6b371551032a88003f6ae1f8.png"  alt="404 Error" class="center">
    <p style="text-align:center"><em>Slow it down, read the sign<br />
        So you know just where you&#39;re going</em></p>
        
        <p style="text-align:center">&nbsp;</p>
        
        <p style="text-align:center"><span style="color:#ffffff"><strong><span style="background-color:#e74c3c">Error 404 - Not Found</span></strong></span></p>
        
        <p style="text-align:center">&nbsp;</p>
        
        <p style="text-align:center">No sabemos como llegaste ac&aacute;, pero deberias volver para atr&aacute;s! :(</p>
        
    
  </div>

{% endblock %}

