{% extends "BlogApp/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}


<h3 class="text-md mb-4">About Us:</h3>

    <img src="{% static 'BlogApp/images/fabitoti.png' %}"  alt="Fabián y Toti" class="center">

    <p style="text-align:center"><a href="https://www.linkedin.com/in/fabicallejas/">Fabi&aacute;n (Fabi) Callejas </a> | <a href="https://www.linkedin.com/in/marianellat/">Marianella (Toti) Tric&aacute;nico</a></p>

    <p style="text-align:center">Somos dos amigos que tenemos muchas cosas en com&uacute;n, ambos fanaticos de la buena m&uacute;sica pop (en especial de Melanie C),<br />
    Amantes tanto como de viajar como de los juegos, ya sean de caja o de consolas.&nbsp;<br />
    Ambos nos dedicamos al testing de software, este a&ntilde;o incursionando en la programaci&oacute;n con este curso de Python.</p>
    
    <p style="text-align:center">&nbsp;</p>
    
  </div>

{% endblock %}

