
{% extends "BlogApp/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}


<html>
   <head>

   <body>
    {% load widget_tweaks %}

<!-- Form de Posteo-->
<section class="contact-form-wrap section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                 <form role="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="text-md mb-4">Agregar Nuevo Post</h3>
                    <div class="form-group">
                    Titulo: {{ form.titulo|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                    Resumen: {{ form.resumen|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                    Imagen: {{ form.imagen|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                    Autor: {{ form.autor|add_class:"form-control" }}
                    </div>
                    <div class="form-group-2 mb-4">
                    Contenido: {{ form.contenido|add_class:"form-control" }}
                    </div>
                    <button class="btn btn-main" name="submit" type="submit">Postear</button>
                </form>
            </div>
</html>

{% endblock %}
