
{% extends "BlogApp/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}


<html>
   <body>
    {% load widget_tweaks %}

<!-- Form de Agregar Disco-->


<section class="contact-form-wrap section">
       <div class="row">
           <div class="col-lg-6 col-md-12 col-sm-12">
            <form class="site-form" action="{% url 'editar_disco' pk %}" method="post" enctype="multipart/form-data">
                   {% csrf_token %}
                   <h3 class="text-md mb-4">Editar Nuevo Disco</h3>
                   <div class="form-group">
                  Nombre: {{ DiscoFormulario.nombre|add_class:"form-control" }}
                   </div>
                   <div class="form-group">
                  Año: {{ DiscoFormulario.anio|add_class:"form-control" }}
                   </div>
                   <div class="form-group">
                  Pais: {{ DiscoFormulario.pais|add_class:"form-control" }}
                   </div>
                   <div class="form-group">
                  Formato: {{ DiscoFormulario.formato|add_class:"form-control" }}
                   </div>
                   <div class="form-group">
                  Portada: {{ DiscoFormulario.imagen|add_class:"form-control" }}
                 </div>
                   <div class="form-group-2 mb-4">
                  Tracklist: {{ DiscoFormulario.contenido|add_class:"form-control" }}
                   </div>
                   <button class="btn btn-main" name="submit" type="submit">Postear</button>
               </form>
           </div>
</html>


{% endblock %}

