
{% extends "BlogApp/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}


<html>
   <head>
   {{ form.media }}
      {% include 'django_quill/media.html' %}
   </head>
      <body>
         {% load widget_tweaks %}
     
     <!-- Form de Posteo-->
     <section class="contact-form-wrap section">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6 col-md-12 col-sm-12">
                      <form role="form" action = "{url 'editar_perfil' %}" method="POST">
                         {% csrf_token %}
                        <h3 class="text-md mb-4">Editar Perfil</h3>
                        <div class="form-group">
                        Usuario: {{form.username|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                        Nombre: {{form.first_name|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                        Apellido: {{form.second_name|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                        <div class="form-group">
                        Email: {{form.email|add_class:"form-control" }}
                        </div>
                        Contraseña: {{form.password1|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                        Confirmar Contraseña: {{form.password2|add_class:"form-control" }}
                        </div>
                         <button class="btn btn-main" name="submit" type="submit">Editar</button>
                     </form>
                 </div>
     </html>
     
      
</html>

{%endblock%}