
{% extends "BlogApp/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}


<html>
   <head>
   </head>
   <body>

  <div  class="col-md-8 offset-md-2">
		
    <h1>Lista de Entradas</h1>
    <hr>
    {% for x in posts %}
    <h2><a href="{% url 'post' x.slug %}">{{ x.titulo}}</a></h2>
    <p> {{ x.fecha|date }} - {{ x.autor }} </p>
    <p> {{ x.resumen }} </p>
    {% empty %}
    <p>No hay entradas en este blog todavía!</p>
    <p><a href="{% url 'agregar_post' %}"> Click aquí para agregar tu primera entrada</a></p>
    {% endfor %}

</div>
</html>

{% endblock %}

